<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="apptools-admin.ZPM">
    <Module>
      <Name>apptools-admin</Name>
      <Version>1.1.5</Version>
      <Description>Application tools for technical support and DBMS administrator.View and edit arrays, execute queries, including JDBC/ODBC, sending results to email as XLS files</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
	  <Invokes>
        <Invoke Class="apptools.core.Installer" Method="AddFavorites"></Invoke>
      </Invokes>
	<Resource Name="apptools.core.PKG"/>
	<Resource Name="apptools.core.INC"/>
        <Resource Name="apptools.Chart.PKG"/>
        <Resource Name="apptools.Form.PKG"/>
        <Resource Name="apptools.lte.PKG"/>
		<Resource Name="apptools.Tabs.PKG"/>
        <Resource Name="apptools.Uikit.PKG"/>
	<Resource Name="appcachemsg.GBL"/>
    <CSPApplication 
            SourcePath="/web"
            DeployPath="${cspdir}/apptools"
            Url="/apptools" 
            ServeFiles="1"
            CookiePath="/apptools/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            MatchRoles=":%ALL"
            Recurse="1"/>
        <CSPApplication
            Url="/apptoolsrest"
            CookiePath="/apptools/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="32" 
            MatchRoles=":%ALL"
            DispatchClass="apptools.core.rest"
			Path="${cspdir}/apptools"
			Recurse="1"
			UnauthenticatedEnabled="0"
			Generated="true"/>  
            
    </Module>
  </Document>
</Export>
